h2 {
	color: #470914;
}

input[type="text"],input[type="password"]{
	border:solid #2d959e 1px;
	height: 25px;
}

input[type="submit"]{
	background: #6dd3a5;
	color: #04252e;
	font-size: 15px;
	height: 30px;
	margin-left: 2%;
	margin-top: 5px;
	width: 15%;
}