
<style type="text/css">
	picture img{
		border-radius: 10px;
	}

	h2{
		color: #2d959e;
		font-size: 25px;
	}
</style>

<picture>
	<img src="/images/perfil.png" alt="Imagen" width="230px" height="350px">
</picture>

<h2>José Manuel Cortés Aguilar</h2>